section.About
    h2.About-mainTitle.Title.reveal what drives us
    
    article.About-item.reveal
        h3.About-title our culture
        p.About-description We deliver results the right and responsible way. Our culture is built upon the principles of responsibility, trust and integrity. Our leadership is a profound source of pride and we will lead in the future of energy. 
        .hr
    article.About-item.reveal
        h3.About-title our people
        p.About-description We believe in the power of humanity to solve any challenge. Our greatest resources are ingenuity, creativity and collaboration. We develop generations of problem solvers who have met the most complex challenges of energy’s past. Together, we will innovate toward the future. 
        .hr
    article.About-item.reveal
        h3.About-title our work
        p.About-description We believe in the power of humanity to solve We define the energy challenge in human terms. Our work has made human progress a reality for millions by driving social and economic development and enabling the benefits of modern society. Life depends on reliable, affordable and ever-cleaner energy. 
