section.Banner
    div.Banner-image
    div.Banner-description
        picture.Banner-picture.reveal
            source.Banner-slogan(srcset="img/slogan-m.png", alt="slogan de chevron" media="(max-width: 780px)")
            img.Banner-slogan(src="img/slogan.png", alt="slogan de chevron")
        a.Banner-button.button.reveal(href="#") see what powers us
