section.Contact
    div.Contact-left 
        img.Contact-slogan.reveal(src="img/slogan.png", alt="slogan de chevron")
        p.Contact-description Chevron has always put people at the center of the energy conversation. Because we understand that the well-being of people everywhere depends on energy. Energy that is affordable, reliable and ever-cleaner.
        
    div.Contact-right
        div.Contact-list
            h3.Contact-title top destinations
            a.Contact-link(href="#") investors
            a.Contact-link(href="#") media
            a.Contact-link(href="#") careers
            a.Contact-link(href="#") worldwide
            a.Contact-link(href="#") contact
