header.Header
    nav.Menu
        ul.Menu-list
            li.Menu-item
                img.Menu-icon(src="img/ic-home.svg", alt="icono de menu")
            li.Menu-item
                a.Menu-link(href="#") project portfolio
            li.Menu-item
                a.Menu-link(href="#") operations
            li.Menu-item
                a.Menu-link(href="#") technology
            li.Menu-item
                img.Menu-logo(src="img/logo.png", alt="icono de menu")
            li.Menu-item
                a.Menu-link(href="#") sustainability
            li.Menu-item
                a.Menu-link(href="#") investors
            li.Menu-item
                a.Menu-link(href="#") about
            li.Menu-item
                img.Menu-icon(src="img/ic-search.svg", alt="icono de menu")
