section.News
    
    h3.News-mainTitle.reveal in the news
                
    div.News-cardContainer
        articles.News-card.reveal
            div.News-content
                span.News-date January 31, 2020
                h3.News-title Chevron Announces Fourth Quarter 2019 Results
                p.News-description Chevron Corporation (NYSE: CVX) today reported a loss of $6.6 billion ($(3.51) per share - diluted) for fourth quarter 2019, compared with earnings of $3.7 billion ($1.95 per share - diluted) in the fourth quarter 2018.
                hr.hr.hr--blue
        articles.News-card.reveal
            div.News-content
                span.News-date January 29, 2020
                h3.News-title Chevron Increases Quarterly Dividend More Than 8 Percent
                p.News-description The Board of Directors of Chevron Corporation (NYSE: CVX) today declared a quarterly dividend of one dollar and twenty-nine cents ($1.29) per share, an increase of ten cents ($0.10) per share or 8.4 percent.
                hr.hr.hr--blue
        articles.News-card.reveal
            div.News-content
                span.News-date January 15, 2020
                h3.News-title Chevron Joins Hydrogen Council
                p.News-description Chevron Corporation (NYSE: CVX) today announced it has joined the Hydrogen Council, a global advisory body providing a long-term vision for the role of hydrogen in the energy transition.
                hr.hr.hr--blue
        articles.News-card.reveal
            div.News-content
                span.News-date December 18, 2019
                h3.News-title Chevron Agrees to Acquire Puma Energy (Australia) Holdings Pty Ltd
                p.News-description Chevron Australia Downstream Pty Ltd, a wholly-owned subsidiary of Chevron Corporation, today announced that it has signed a conditional Share Sale Agreement with Puma Energy Asia Pacific B.V. to acquire all shares and equity interests of Puma Energy (Australia) Holdings Pty Ltd for the amount of AU$425 million.
                hr.hr.hr--blue
        articles.News-card.reveal
            div.News-content
                span.News-date December 10, 2019
                h3.News-title Chevron Announces $20 Billion Capital and Exploratory Budget for 2020
                p.News-description Chevron Corporation today announced a 2020 organic capital and exploratory spending program of $20 billion.
    a.News-button.button.button--blue(href="#") see all news
