section.Services
    
    form.Services-form()
        div.Services-field.reveal
            input.Services-input(type="text", placeholder="what can we help you?")
            input.Services-submit(type="submit" value=">") 
                
    div.Services-cardContainer
        articles.Services-card.reveal
            h3.Services-title customers
            a.Services-link(href="#") chevron stations
            a.Services-link(href="#") gift cards
            a.Services-link(href="#") credit cards/bill pay
            a.Services-link(href="#") lubricants
            a.Services-link(href="#") texaco stations
        articles.Services-card.reveal
            h3.Services-title careers
            a.Services-link(href="#") find a job
            a.Services-link(href="#") students and graduates
            a.Services-link(href="#") hiring events
            a.Services-link(href="#") life at chevron
            a.Services-link(href="#") experienced professionals
