section.Video
    h2.Video-title.Title.reveal powering human progress takes energy
    p.Video-description.reveal It’s only human to want a better life, and we need reliable, affordable and ever-cleaner energy to get there. To provide this energy, we believe in the power of human ingenuity to lead us to a brighter future.
    div.Video-bg.reveal
        img.Video-image(src="img/video.jpg", alt="imagen de precarga")
        img.Video-icon(src="img/ic-play.svg", alt="icono de play")
    p.Video-transcript video transcript available #[small >]
