$black: #000000;
$white: #ffffff;
$gray: #f4f4f4;
$blue-1: #0b2d71;
$blue-2: #0066b2;
$cyan: #009dd9;

$gap: 29px;
$gap-2: 74px;

$max-width: 1400px;

$mq1: 640px;
$mq2: 780px;
$mq3: 1024px;
$mq4: 1200px;


$transition: .4s ease-out;
